<!DOCTYPE html>
<html>
  <head>
    <title>Interview360</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="" class="navbar-brand">i360</a>
        </div>
        <ul class="nav navbar-right">
          <li><a href="#" class="active">Home</a></li>
          <li><a href="#">Employer</a></li>
          <li><a href="#">Professional</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>

      <div class="google_signin">
        <% if current_user %>
          Signed in as <strong><%= current_user.name %></strong>
          <%= link_to "Sign out", signout_path, id: 'sign_out' %>
          <% else %>
          <%= link_to 'Google Signin', '/auth/google_oauth2', id: 'sign_in' %>

          <% end %>
      </div>
    </nav>
    <div class="container">

    </div>
    <%= yield %>
  </body>
</html>
